body {
	font-family: 'Roboto', sans-serif;
	font-size:1em;
	color:#333333;
	margin:0;
	z-index:1;
}
.container {
	max-width:980px;
	margin:0 auto;
}
/* Ne pas souligner les hyperliens */
a {
	text-decoration:none;
}
header, nav ul ul {
	background-color: #00BCD4;
}
header {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:10;
}
/*----------------------
Styles de la navigation
----------------------*/
nav {
	margin-bottom:20px;
	color:#FFFFFF;
}
/* Styles du nav ul */
nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align: center;
}
/* On passe le ul de niveau 1 en position relative */
nav > ul {
    position:relative;
}
/* On attribue une largeur et une hauteur aux nav li */
nav li {
    width:160px;
    line-height: 50px;
    text-align:left;
}
nav li.hamburger {
	display: none;
}
/* On modifie le style au survol de la souris */
nav li a:hover {
	background: #9E9E9E;
}
/* On style les liens de la nav */
nav a {
	/*color:#FFFFFF;*/
	color:inherit;
	display:block;
	width:100%;
}
/* On passe le 1er niveau de li en display inline-block */
nav > ul > li {
    display:inline-block;
    text-align:center;
}
/* On met les niveaux 2 et 3 en position absolue */
nav ul ul, nav ul ul ul {
    position:absolute;
		display:none;
		opacity: 0.9;
}
/* Facultatif : on ajoute un border-bottom sur les li des 2ème et 3ème niveaux (sauf sur le dernier) */
nav ul ul li {
    border-bottom: 1px solid #E8EAF6;
}
nav ul ul li:last-child {
    border-bottom: 0;
}
/* On ajoute un padding sur les a des 2ème et 3ème niveaux */
nav ul ul li a {
    padding-left:15px;
    box-sizing:border-box;
}
/* On décale le sous-menu de niveau 3 de la largeur et de la hauteur des li */
nav ul ul ul {
		left:160px;
    top:50px;
}
/* On affiche les sous-menu de niveau 2 et 3 au survol de la souris */
nav > ul > li:hover > ul, nav li li:hover > ul {
	display: block;
}
h1 {
	color: #00BCD4;
}
main, footer {
	position:relative;
	top:50px;
}
main {
	padding:0 20px;
}
footer {
	text-align: center;
	background-color: #4DD0E1;
	color:#FFFFFF;
	padding:5px 20px;
}
footer img {
	width:50px;
}
footer a.top {
	display: block;
	width:30px;
	line-height:30px;
	color:white;
	border:3px solid white;
	border-radius: 100%;
	position:absolute;
	bottom:10px;
	right:10px;
}
@media screen and (max-width: 480px) {
	nav > ul > li {
		display:none;
	}
	 nav li.hamburger {
		display: block;
		text-align:left;
		width:auto;
	}
	nav li.hamburger a {
		font-family: FontAwesome;
		content:"\f0c9";
		padding-left:15px;
	}
	nav li.hamburger ul, nav li.hamburger ul li {
		width:100%;
	}
}
